
/*-----Default Styling-----*/
* {
    box-sizing: border-box;
}

:root {
    line-height: 1.2;
    color: #ffffff;
    scroll-behavior: smooth;
    --accentColor: #DC052D;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(20, 20, 20);
    padding: 0;
    margin: 0;
}

/*-----Menu-----*/
#menu-wrapper {
    padding: 2vh 4vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
}

#logo {
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    text-shadow: rgba(0, 0, 0, 0.9) 0 0 5px;
}

#logo span {
    color: var(--accentColor);
    font-size: 0.5em;
}

#burguer-menu {
    width: 1.5em;
    height: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav {
    transition: opacity 0.2 ease;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    margin: 6vh 4vw;
    text-align: right;
    line-height: 2;
}

.bar {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}

.nav li {
    list-style: none;
}

.nav li a {
    color: white;
    text-decoration: none;
    letter-spacing: normal;
    transition: 0.2s ease;
}

.nav li a:hover {
    letter-spacing: 1px;
    transition: 0.2s ease;
}

.menu-bg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 40vw;
    height: 18vh;
    background: radial-gradient(circle at center, var(--accentColor), var(--accentColor));
    border-radius: 50%;
    transition: 0.3s ease;
    transform: translate(50%, -50%);
}

.nav-toggle {
    opacity: 1;
    transition: opacity 0.2 ease;
}

.change {
    opacity: 1;
}

.change #bar1 {
    transform: translateY(7px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-7px) rotateZ(45deg);
}

.expand-bg {
    width: 90vw;
    height: 55vh;
}

/*-----Hero-----*/
#hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#hero-container {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    line-height: 0.3;
    margin: -15vh 0 0 18vw;
}

#hero-container h2 {
    font-size: 2em;
}

#hero-container h1 {
    font-size: 5.5em;
}

#hero-container p {
    font-size: 1.25em;
}

.redAccent {
    color: #DC052D;
}